body {
    background-color: darkblue;
    margin-top: 300px;
    transform: scale(4);
  }
  
  #text {
    background-color: black;
    color: white;
    padding: 10px;
  }
  
  #game {
    max-width: 500px;
    max-height: 400px;
    background-color: lightgray;
    color: white;
    margin: 0 auto;
    padding: 10px;
  }
  
  #controls {
    border: 1px black solid;
    padding: 5px;
  }
  
  #stats {
    border: 1px black solid;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #playerName {
    margin-left: auto;
    color: red;
    font-weight: bold;
  }

  #monsterStats {
    display: none;
    border: 1px black solid;
    color: white;
    padding: 5px;
    background-color: red;
  }
  
  .stat {
    padding-right: 10px;
  }